    {% load static %}
    <footer class="container-fluid text-center">
            <p><img src="{% static '/assets/icons/email.png' %}" height="30" width="30"> E-mail: <a href="mailto:obrplinio18@gmail.com?subject=Usuário: Novo Usuario">Clique aqui para nos enviar um e-mail!</a>
            <img src="{% static '/assets/icons/wts.png' %}" height="30" width="30"> Contato:<a target="_blank" href="https://api.whatsapp.com/send?phone=5543998031955"> 9 9803-1955</a></p>           
            <p><img src="{% static '/assets/icons/icon.png' %}" height="30" width="30">  © 2023 Buteco do Ti - Versão: 1.0.4</p>            
    </footer>